* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	background: #47222D;
}

.container {
	width: 420px;
	background: #fff;
	padding: 20px 30px;
	box-shadow: 0 0 15px rgba(0,0,0,2);
	border-radius: 5px;
}

header {
	font-size: 25px;
	margin: 20px 0px;
	font-weight: 600;
	line-height: 33px;
}

.container form {
	margin: 5px 8px;
}

.container form .error_text {
	background: #f8d7da;
	color: #8b3e46;
	border-radius: 3px;
	border: 1px solid #f5c6cb;
	display: none;
}

.container form .error_text.matched {
	background: #E281D7;
	color: #6E1F65;
	border: 1px solid #5C0357;
}

.container form .field {
	width: 100%;
	height: 45px;
	position: relative;
	display: flex;
	margin: 15px 0px;
}

.container form .field input {
	width: 100%;
	height: 100%;
	border: 1px solid lightgray;
	outline: none;
	padding: 0 15px;
	font-size: 18px;
	border-radius: 3px;
}

.container form .field input:focus {
	border-color: #89157C;
	box-shadow: 0 0 2px #89047A;
}

.container form .field .showBtn {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	font-weight: 600;
	display: none;
	cursor: pointer;
}

.container form .field .showBtn.active {
	color: #610957;
}

.container form .btn {
	width: 100%;
	height: 45px;
	background: #710D66;
	font-size: 18px;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 3px;
	opacity: 0.7;
	cursor: not-allowed;
}

.container form .btn.active {
	opacity: 1;
	cursor: pointer;
}

.container form .btn:hover.active {
	background: #F471E5;
}